<% provide(:title, "About") %>
<h1>Meet the band</h1>
<h2>Hank</h2>
<p>Good 'ol dry em up on the guitar</p>
<%=image_tag("HankProfile.jpg", :alt=>"rss feed", width:'50%') %>
<h2>Dakota</h2>
<p>Wet Webbie on the drums</p>
<%=image_tag("WebProfile.jpg", :alt=>"rss feed", width:'50%') %>
<h2>Keith</h2>
<p>Yeah, he plays the bass</p>
<%=image_tag("KeithProfile.jpg", :alt=>"rss feed", width:'50%', class:"profile_pic") %>
