<% provide(:title, "About") %>
<h1>Meet the band</h1>
<h2>Hank</h2>
<p>Good 'ol dry em up on the guitar</p>
<h2>Dakota</h2>
<p>Wet Webbie on the drums</p>
<h2>Keith</h2>
<p>Yeah, he plays the bass</p>
