<% provide(:title, "About") %>
<h1>Meet the band</h1>
<%=image_tag("GroupProfile.jpg", :alt=>"rss feed", style: 'display: block; margin: auto; width: 60%;') %>
<div style = "width: 75%; margin: auto; border: 5px solid #934917;">
<p>
The 3 Box Brothers met while attending Oregon Tech in Klamath Falls, Oregon. Hank and Keith met accidently freshman year and formed a band called Trendsistors. During the spring of 2016, Dakotah was featured in a live performance.  Little did they know that a connection would soon blossom. After drummer Caleb Dickerson left, Hank and Keith started playing music with Dakotah. In the cold, dark days of winter term 2017, the three boys found themselves playing in carboard boxes - in an attempt to NOT think outside the box. Consequently Box Brothers was born, creating fresh jams (preferably jellies) ever since.
<br/>
Box Brothers has an eclectic sound that combines blues rock with funk, punk, and just enough pop. The Brothers perform with energy high enough to power a Griswald family Christmas. Despite this energy, Box Brothers are also capable of performing intimate accoustic sets suitable for coffee shop settings.
<br/>
Currently, Box Brothers perform locally in Klamath Falls and are looking to bring their performances to nearby cities. Starting Fall of 2017, they became The Pikey's house band.
</p>
</div>
<div>
<h2>Hank Bingham</h2>
<%=image_tag("HankProfile.jpg", :alt=>"rss feed", style: 'display: inline-block; width: 500px') %>
<p style ="float:right; width:40%; border: 5px solid #934917;">
<b>Hometown:</b> Carson City, NV
<br/>
<b>Age:</b> 21
<br/>
<b>Instruments:</b> Guitar/Vocals<br>
<br/>
A blues boy who is in the Pacific Northwest playing with Box Brothers and loving it.  Enjoys the occasional run or two or ten.  Can I get a Choo Choo?
</p>
</div>
<div>
<h2>Dakotah Webb</h2>
<%=image_tag("WebProfile.jpg", :alt=>"rss feed", style: 'display: inline-block; width: 500px;') %>
<p style ="float:right; width:40%; border: 5px solid #934917;">
<b>Hometown:</b> Grants Pass, OR
<br/>
<b>Age:</b> 22
<br/>
<b>Instruments:</b> Drum/Vocals<br>
<br/>
Wannabe surf/skate SoCal punk rocker from the lat 90's; actually a small town nerdy fake blonde attempting to solve x*music = goals.
</p>
</div>
<div>
<h2>Keith Omogrosso</h2>
<%=image_tag("KeithProfile.jpg", :alt=>"rss feed", style: 'display: block; float: left; width: 500px;') %>
<p style ="float:right; width:40%; border: 5px solid #934917;">
<b>Hometown:</b> Eugene, OR
<br/>
<b>Age:</b> 21
<br/>
<b>Instruments:</b> Bass/other<br>
<br/>
A man with a plan, a man with passion, a man with luscious locks.
</p>

</div>
