<% provide(:title, "Contact") %> 
<h1>Contact Box Brothers</h1>
<h2>Booking the Band</h2>
<p>Please email boxbrothersofficial@gmail.com or call (541)761-7041 for information about booking the band.</p>
<h2>Box Fans</h2>
<p>Please send fan mail to boxbrothersofficial@gmail.com and check us out on social media!<br/> 
Thank you for your continued support and we love our Box Fans!<br/>
<a href="https://www.instagram.com/box.brothers/">INSTAGRAM</a>
|
<a href="https://www.facebook.com/BoxBrothersOfficial/">FACEBOOK</a> </p>

<%= image_tag("BoxFans.jpg", :alt=>"box fans", width:'100%') %>
