<% provide(:title, "Events") %>
<h1>Events</h1>
<h2>6/9/18 ROSEDALE w/Box Brothers | The Pikey, Klamath Falls OR | 9:00 PM No Cover 21+</h2>
<h2>6/2/18 OIT Music Garden, Klamath Falls OR | TBA Tickets $3 pre-sale, $5 day of | All Ages, Beer Garden 21+</h2>
<p>Perfomances by Frank Ray, Mitchell Mirande, Laundry, and more!</p>
<h2>5/5/18 Box Brothers 2nd Annual DHS Benefit Concert | OIT, Klamath Falls 5-8:00 PM Tickets $10 All Ages</h2>
<p>Performances by Johnny Hermano, Dustin Carter, and The Handmedowns</p>
<h2>4/28/18 Rip City Riders | Aftershock, Klamath Falls OR | 9:00 PM - 1:00 AM Free Entry 21+</h2>
<h2>4/27/18 The Pikey, Klamath Falls OR  |  10:00 PM No Cover Charge 21+</h2>
<h2>4/14/18 The Pikey, Klamath Falls OR  |  10:00 PM No Cover Charge 21+</h2>
<h2>4/6/18 ASCE PNW Conference Night 2 | The Pikey, Klamath Falls OR  |  10:00 PM No Cover Charge 21+</h2>
<h2>4/6/18 ASCE PNW Conference Night 1 | The Pikey, Klamath Falls OR  |  9:00 PM No Cover Charge 21+</h2>
<p>Special Guests Dogtooth and Nail from Portland, OR</p>
<h2>3/31/18 The Pikey, Klamath Falls OR  |  10:00 PM No Cover Charge 21+</h2>
<h2>3/17/18 The Pikey, Klamath Falls OR  |  10:00 PM No Cover Charge 21+</h2>
<p>Opening Performance By The Handmedowns</p>
<h2>3/16/18 The Pikey, Klamath Falls OR  |  10:00 PM No Cover Charge 21+</h2>
<p>Acoustic Performance by The Handmedowns</p>
<h2>3/10/18 Johnny B's, Medford OR  |  TBA 21+</h2>
<p>Additional Act: GLACIERWOLF</p>
<h2>3/3/18 The Pikey, Klamath Falls OR  |  9:00 PM No Cover Charge 21+</h2>
<h2>2/17/18 Oberon's, Ashland OR  |  9:30 PM No Cover Charge 21+</h2>
<p>Additional Act: Devon Scott</p>
<h2>2/16/18 The Pikey, Klamath Falls OR  |  9:00 PM No Cover Charge 21+</h2>
<h2>2/3/18 The Pikey, Klamath Falls OR  |  9:00 PM No Cover Charge 21+</h2>
<h2>1/20/18 The Pikey, Klamath Falls OR  |  9:00 PM No Cover Charge 21+</h2>
<h2>12/31/17 The Pikey, Klamath Falls OR  |  9:00 PM No Cover Charge 21+</h2>
