<% provide(:title, "Home") %>
<h1>Box Brothers</h1>
<h2><a href="https://soundcloud.com/box-brothers" style="color:orange">Sound Cloud</a></h2>
<%=image_tag("BoxBros.jpg", :alt=>"rss feed", width:'100%') %>
