<% provide(:title, "Home") %>
<body class="home">
<h1>Box Brothers</h1>
<h2 style='margin-bottom:400px'><a href="https://soundcloud.com/box-brothers" style="color:orange">Sound Cloud</a></h2>
<script src="//www.powr.io/powr.js" external-type="html"></script> 
 <div class="powr-instagram-feed" id="81527110_1508431821"></div>
</div>
</body>
